# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
*.egg
*.log
*.sqlite
*.env
*.venv

# Virtual Environment
venv/
.env/
ENV/

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Logs
logs/